*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*-----------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------------------------------------------------------------------------------------*/

html, body {background-color :#f73400;
      font-family: Arial, serif;
      font-style: italic;
      font-weight: bold;
      width: 100%;
      height: 100%;
      margin:0;
      padding:0;
      color: black;


}

h1{
  font-size: 75px;
  z-index:0;
  position: relative;
}

p{
  font-size: 25px;
  position: relative;
  z-index:0;
}


p.about{
  font-style:normal;
  font-weight:400;
  text-align: left;
}


.cover{
  text-align: center;
  position: fixed;
  top:0;
  margin-top: 50px;
  z-index: -1;
  width: 100%;
  height: auto;
}

.secondsection{
  margin-top: 1000px;
  background-color :#f73400;
  width:100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: row;


}

.thirdsection{
  background-color :orange;
  width:100%;
  z-index: 1;
  display: flex;
  flex-direction: row;



}

article{
  margin-top: 200px;
  margin-left: 50px;
  width: 33%;
}
.smallsmiley{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

}
.bigsmiley{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


i {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 20px;
    margin-top: 40px;

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.left{

  width:50%;
  margin-top: 50px;
}
.right{
  width:50%;

}

.rightsmile{
  width:50%;
  margin-top: 50px;
}
img.newImage{
  width: 100%;
  margin: auto;
  height: auto;

}
.title{
  margin-left: 20px;
}

.about-section{
  margin-top: 50px;
  margin-left: 20px;

}
